.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #07080b; /* Customize as needed */
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 15px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-link:hover {
    background-color: #303f9f; /* Slightly darker color on hover */
    border-radius: 4px;
  }
  